{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 4, { "ignoreComments": true }],
    "comma-dangle": ["error", "never"],
    "linebreak-style": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules"
        ],
        "paths": ["."]
      }
    }
  }
}
